<nav role="navigation" class="navbar-default navbar-fixed-top navbar-inverse">
    <div class = "container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="model.isCollapsed = !model.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">
                <i class="fa fa-laptop"></i> OneCs
            </a>
        </div>
        <div class="navbar-collapse" ng-class="{collapse: model.isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="SignIn">
                        <i class="fa fa-sign-in"></i> SignIn
                    </a>
                </li>
                <li>
                    <a href="SignUp">
                        <i class="fa fa-check-square-o"></i>
                        SignUp
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="search-relative-pos">
        <div class="search-form">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <select id="Category" class="form-control" ng-model="model.category">
                        <option value="Book">Book</option>
                        <option value="Research Paper">Research Paper</option>
                        <option value="Jobs">Jobs</option>
                        <option value="Courses">Courses</option>
                        <option value="IDE">IDE</option>
                        <option value="Category" ng-selected="true">Select Category</option>
                    </select>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="input-group">
                        <input ng-model="model.search"
                               class="form-control"
                               placeholder="Enter Search Term Here"
                               type="text"
                               name="Search"
                               required
                               autocomplete="off" autocorrect="off" autocapitalize="off"/>
                            <span class="input-group-btn">
                                <button ng-model="model.title"
                                        ng-click="model.search()"
                                        class="btn btn-danger"
                                        type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-image">
            <img ng-src={{model.slide}} class="img-responsive" width="100%">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 category-image-padding">
            <img src="resources/book.jpg" class="img-responsive thumbnail" width="100%">
            <div class="carousel-caption">
                <h4>Books</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 category-image-padding">
            <img src="resources/research_paper.jpg" class="img-responsive thumbnail" width="100%">
            <div class="carousel-caption">
                <h4>Research Papers</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 category-image-padding">
            <img src="resources/course.jpg" class="img-responsive thumbnail" width="100%">
            <div class="carousel-caption">
                <h4>Online Courses</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 category-image-padding" >
            <img src="resources/job.jpg" class="img-responsive thumbnail" width="100%">
            <div class="carousel-caption">
                <h4>Search Jobs</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 category-image-padding">
            <img src="resources/ide.jpg" class="img-responsive thumbnail" width="100%">
            <div class="carousel-caption">
                <h4>One IDE</h4>
            </div>
        </div>
    </div>
</div>

