<nav role="navigation" class="navbar-default navbar-fixed-top navbar-inverse">
    <div class = "container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="model.isCollapsed = !model.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">
                <i class="fa fa-laptop"></i> OneCs
            </a>
        </div>
        <div class="navbar-collapse" ng-class="{collapse: model.isCollapsed}" ng-click="model.isCollapsed = !model.isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#/login">
                        <i class="fa fa-sign-in"></i> SignIn
                    </a>
                </li>
                <li>
                    <a href="#/register">
                        <i class="fa fa-check-square-o"></i>
                        SignUp
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <form name="loginForm" novalidate>

        <div class="alert alert-info" ng-show="!model.error">
            <strong>Welcome Back!</strong> Please provide your credentials to continue
        </div>

        <div ng-if="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

        <h1 page-header>Login</h1>

        <input ng-model="model.user.username"
               class="form-control"
               placeholder="username"
               type="text"
               name="username"
               required
               autocomplete="off" autocorrect="off" autocapitalize="off"
               ng-class="{'validation': loginForm.username.$invalid && loginForm.$submitted}"
        />

        <span ng-show="loginForm.username.$invalid && loginForm.$submitted" class="validation">
            Please enter valid username
        </span>

        <input ng-model="model.user.password"
               class="form-control"
               placeholder="password"
               type="password"
               name="password"
               required
               ng-class="{'validation': loginForm.password.$invalid && loginForm.$submitted}"
        />

        <span ng-show="loginForm.password.$invalid && loginForm.$submitted" class="validation">
            Please enter valid password
        </span>

        <button ng-click="model.login()"
                class="btn btn-primary btn-block"
                name="loginBtn">Login
        </button>

        <a href="/auth/google" class="btn btn-danger btn-block">
            <span class="fa fa-google-plus"></span>
            Google
        </a>

        <a class="btn btn-success btn-block"
           href="#/register">Register
        </a>
    </form>
</div>