body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.search-relative-pos {
    position: relative;
}

.item-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 40%;
    height: 0;
}

.item-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.search-form {
    position: absolute;
    top:25%;
    left:10%;
    z-index:1;
    opacity: 0.9;
    width:80%;
}