.media-padding {
    padding-top : 40px;
    padding-bottom: 10px;
}

.book-detail-img-padding {
    padding-left: 20px;
    padding-bottom: 10px;
    width: 90%;
}

.prod-details-table {
    overflow-x: auto;
}

.accordion-height {
    padding: 10px;
    width: 100%;
}

.accordion-outer-div {
    height:100vh;
}

.navbar-text.pull-right {
    margin-right: 18px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

body {
    padding-top: 50px;
    padding-bottom: 60px;
}

.search-field {
    background-color: lightgoldenrodyellow;
}

.search-relative-pos {
    position: relative;
}

.category-image-padding {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.book-category-padding {
    position: relative;
    border-bottom: 1px solid silver;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    height:60vh;
}

.book-result-padding {
    position: relative;
    border-bottom: 1px solid silver;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    height: 50vh;
}

.btn-padding {
    margin-bottom: 30px;
}

.golden-color {
    background-color: gold;
}

.text-wrap {
    word-wrap: break-word;
}

.review-padding {
    position: relative;
    border-bottom: 2px solid silver;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    overflow: auto;
}

.user-like-padding {
    position: relative;
    border-bottom: 1px solid silver;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
    height: 35vh;
}

.book-desc-padding {
    position: relative;
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
    margin-bottom: 50px;
    overflow: auto;
    height:50vh;
}

.book-search-option-help {
    color: orangered;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    opacity: 1;
}

.relative-pos {
    position: relative;
}

.close-book-preview {
    position: absolute;
    right: 0;
    font-size: large;
    background-color: red;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 1;
    z-index:1;
}

.book-cat-edit {
    position: absolute;
    right: 0;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
    z-index:1;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.validation {
    color: red;
}

input.validation {
    border-color: red;
}

select.validation {
    border-color: red;
}

.item-image {
    position: relative;
    overflow: hidden;
    height:50vh;
}

.item-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
}

#viewerCanvas {
    width: 100%;
    height: 80vh;
}

.book-preview {
    display: block;
}

.img-right-spacing {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

input.form-control {
    margin-bottom: 5px;
}

.search-form {
    position: absolute;
    top:25%;
    left:10%;
    z-index:1;
    opacity: 0.9;
    width:80%;
}

.gen-padding-top {
    padding-top: 20px;
}