.accordion-height {
    padding: 10px;
    width: 100%;
}

.accordion-outer-div {
    height:100vh;
}

.navbar-text.pull-right {
    margin-right: 18px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

body {
    padding-top: 50px;
    padding-bottom: 60px;
}

.search-field {
    background-color: lightgoldenrodyellow;
}

.search-relative-pos {
    position: relative;
}

.category-image-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.book-search-option-help {
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    opacity: 1;
}

.book-cat-relative-pos {
    position: relative;
}

.book-cat-edit {
    position: absolute;
    right: 0;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
    z-index:1;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.validation {
    color: red;
}

input.validation {
    border-color: red;
}

select.validation {
    border-color: red;
}


.item-image {
    position: relative;
    overflow: hidden;
    height:50vh;
}

.item-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
}

.img-right-spacing {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

input.form-control {
    margin-bottom: 5px;
}

.search-form {
    position: absolute;
    top:25%;
    left:10%;
    z-index:1;
    opacity: 0.9;
    width:80%;
}