<nav role="navigation" class="navbar-default navbar-fixed-top">
    <div class = "container">
        <span class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website" class="navbar-link img-right-spacing">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </span>
        <span class="navbar-header navbar-brand">
           <b>Pages</b>
        </span>
        <span class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </span>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item borderless">
            <a href=#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page.id}}/widget">{{page.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page.id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <span class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
        </span>
    </div>
</nav>