<nav role="navigation" class="navbar-default navbar-fixed-top">
    <div class = "container">
        <span class="navbar-header navbar-brand">
           <b> Profile </b>
        </span>
        <span class="navbar-text pull-right">
                <a ng-click="model.updateUser()" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </span>
    </div>
</nav>


<div class="container">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="alice"
                   readonly/>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                   type="email"
                   class="form-control"
                   id="email"
                   placeholder="alice@wonderland.com"
                   required/>
        </div>
        <div class="form-group">
            <label for="first">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="first"
                   placeholder="Alice"
                   required/>
        </div>
        <div class="form-group">
            <label for="last">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="last"
                   placeholder="Wonderland"
                   required/>
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites
    </a>

    <a class="btn btn-danger btn-block"
       href="model.logout()">Logout
    </a>

    <a class="btn btn-danger btn-block"
       ng-click="model.unregisterUser()">Unregister
    </a>
</div>