<nav role="navigation" class="navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    ng-click="model.isCollapsed = !model.isCollapsed"
                    ng-show="!model.isUserLoggedIn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">
                <i class="fa fa-laptop"></i> OneCs
            </a>
        </div>
        <div class="navbar-collapse"
             ng-class="{collapse: model.isCollapsed}"
             ng-show="!model.isUserLoggedIn">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="SignIn">
                        <i class="fa fa-sign-in"></i> SignIn
                    </a>
                </li>
                <li>
                    <a href="SignUp">
                        <i class="fa fa-check-square-o"></i>
                        SignUp
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="search-relative-pos">
    <div class="search-form">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="input-group">
                    <input ng-model="model.search"
                           class="form-control"
                           placeholder="Enter Search Term Here"
                           type="text"
                           name="Search"
                           required
                           autocomplete="off" autocorrect="off" autocapitalize="off"/>
                            <span class="input-group-btn">
                                <button ng-model="model.title"
                                        ng-click="model.search()"
                                        class="btn btn-danger"
                                        type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="item-image">
        <img src="resources/category/book/book-large.jpg" class="img-responsive" width="100%">
    </div>
</div>

<div ng-show="model.isUserLoggedIn">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
        <span class="navbar-text pull-right">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
        </span>
        </div>
    </nav>
</div>