<nav role="navigation" class="navbar-default navbar-fixed-top navbar-inverse" xmlns="http://www.w3.org/1999/html">
    <div class = "container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    ng-click="model.isCollapsed = !model.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-click="model.back()" class="navbar-brand navbar-link img-right-spacing">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
            <a class="navbar-brand" href="#/home">
                <i class="fa fa-laptop"></i> OneCs
            </a>
        </div>
        <div class="navbar-collapse"
             ng-class="{collapse: model.isCollapsed}"
             ng-click="model.isCollapsed = !model.isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!model.isUserLoggedIn">
                    <a ng-click="model.login()">
                        <span class="glyphicon glyphicon-log-in"></span> SignIn
                    </a>
                </li>
                <li ng-show="!model.isUserLoggedIn">
                    <a href="#/register">
                        <span class="glyphicon glyphicon-check"></span>
                        SignUp
                    </a>
                </li>
                <li ng-show="model.isUserLoggedIn">
                    <a href="#/profile" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile
                    </a>
                </li>
                <li ng-show="model.isUserLoggedIn">
                    <a ng-click="model.logout()" class="navbar-link">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Sign-Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="relative-pos" ng-show="model.showBookPreview">
        <a ng-click="model.showBookPreview=false"
           class="close-book-preview">
            <span class="glyphicon glyphicon-remove img-right-spacing"></span>
        </a>
        <div id="viewerCanvas" ng-show="model.showBookPreview"></div>
    </div>
    <div class="row">
        <div class="media media-padding">
            <div class="media-left media-top col-sm-5 col-lg-3">
                <a ng-click="model.displayBookPreview(model.book.volumeInfo.industryIdentifiers[1].identifier)">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/sitb/sticker/sitb-sticker-v3-small._CB341765094_.png">
                    <img class="media-object book-detail-img-padding"
                         ng-src="{{model.book.volumeInfo.imageLinks.small}}">
                </a>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-1">
                <h2 class="media-heading">{{model.book.volumeInfo.title}}</h2>
                <h4>{{model.book.volumeInfo.subtitle}}</h4>
                <table class="table table-striped table-condensed table-responsive">
                    <tr>
                        <th>Authors</th>
                        <td>
                            <div ng-repeat="author in model.book.volumeInfo.authors">
                                <div>{{author}}</div>
                            </div>
                        </td>
                    <tr>
                        <th>Publisher</th>
                        <td>{{model.book.volumeInfo.publisher}}</td>
                    </tr>
                    <tr>
                        <th>Published Date</th>
                        <td>{{model.book.volumeInfo.publishedDate}}</td>
                    </tr>
                    <tr ng-repeat="(key, value) in model.book.volumeInfo.industryIdentifiers">
                        <th>
                            {{value.type}}
                        </th>
                        <td>
                            {{value.identifier}}
                        </td>
                    </tr>
                    <tr ng-show="model.book.volumeInfo.averageRating">
                        <th>Google Rating</th>
                        <td>{{model.book.volumeInfo.averageRating}}</td>
                    </tr>
                    <tr ng-show="model.book.saleInfo.retailPrice">
                        <th>Price</th>
                        <td>{{model.book.saleInfo.retailPrice.amount}}
                            {{model.book.saleInfo.retailPrice.currencyCode}}</td>
                    </tr>
                </table>
                <div ng-show="model.isUserLoggedIn && !model.hasUserLikedThisBook">
                    <h5 class="text-info"><b>Like this product? Let us know!</b></h5>
                    <a ng-click="model.addProdToUserLikesLst()">
                        <i title="Like" class="fa fa-thumbs-o-up fa-lg fa-2x"></i>
                    </a>
                </div>
                <div ng-show="!model.isUserLoggedIn" class="alert alert-warning">
                    <strong>Not logged in?</strong> Login to 'Like' this product or write a review about it.
                </div>
                <div ng-show="model.isUserLoggedIn && model.hasUserLikedThisBook">
                    <h5 class="text-info"><b>You have liked this product.
                        <span class="text-danger">Click below to dislike it!</span></b></h5>
                    <a class="text-danger" ng-click="model.removeProdToUserLikesLst()">
                        <i title="Unlike" class="fa fa-thumbs-o-down fa-lg fa-2x orangecolor"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-info"> About the book </h3>
    <div class="book-desc-padding">
        <h5 class="text-justify"><div ng-bind-html="model.getSafeHtml(model.book.volumeInfo.description)"></div></h5>
    </div>

    <div ng-show="!model.isUserLoggedIn" class="alert alert-warning">
        <strong>Not logged in?</strong> Login to 'Like' this product or write a review about it.
    </div>

    <div ng-show="model.isUserLoggedIn">
        <div class="text-left">
            <a class="btn btn-success btn-padding"
               ng-click="model.showReviewForm()">
                Leave a Review
            </a>
        </div>
        <div class="well margin-well" ng-show="model.addReviewForm || model.editReviewForm">
            <h4>What do you think about the product?</h4>
            <form name="reviewForm" novalidate id="reviewFormId">
                <div class="alert alert-danger" ng-show="model.reviewForm.error">
                    {{model.reviewForm.error}}
                </div>
                <div class="form-group">
                    <textarea ng-model="model.review.title"
                              placeholder="Title"
                              class="form-control"
                              required
                              rows="1">
                    </textarea>
                </div>
                <div class="form-group">
                    <textarea ng-model="model.review.comment"
                              placeholder="Your Review"
                              class="form-control"
                              required
                              rows="3">

                    </textarea>
                </div>
                <div class="form-group">
                    <label>Rating</label>
                    <select id="Rating" ng-model="model.review.rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option ng-selected="true" value="default">Please select rating</option>
                    </select>
                </div>
                <div ng-show="model.addReviewForm">
                    <button type="submit"
                            class="btn btn-primary"
                            id="submit"
                            ng-click="model.createReview()">
                        Submit
                    </button>
                    <button type="submit"
                            class="btn btn-secondary"
                            ng-click="model.addReviewForm=!model.addReviewForm">
                        Cancel
                    </button>
                </div>
                <div ng-show="model.editReviewForm">
                    <button type="update"
                            class="btn btn-primary"
                            ng-click="model.updateReview()">
                        Update
                    </button>
                    <button type="submit"
                            class="btn btn-secondary"
                            ng-click="model.editReviewForm=!model.editReviewForm">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="model.reviews.length == 0 && model.isUserLoggedIn" class="alert alert-info">
        <strong>No customer reviews</strong>. Be the first person to review
    </div>
    <div ng-show="model.reviews.length > 0">
        <h4>Customer Reviews</h4>
        <div class="well">
            <div ng-repeat="review in model.reviews | orderBy:'dateCreated':true"
                 class="panel review-padding review-box">
                <div>
                    <h4 class="text-primary text-wrap"><strong>{{review.title}}</strong></h4>
                    <h6 class="">
                        by
                        <a ng-href="#/profile/{{review.user._user}}">
                            <strong>
                                {{review.user.firstName}}
                                {{review.user.lastName}}
                                ( {{review.user.userName}} )
                            </strong>
                        </a>
                        on {{model.getTodaysDate(review.dateCreated)}}
                    </h6>
                </div>
                <div>
                    <h5 class="text-wrap"><p>{{review.comment}}</p></h5>
                    <div ng-show="review.rating">
                        <h6 class="text-info"><strong>Rating:  </strong>
                            <span class="badge golden-color">{{review.rating}}</span>
                        </h6>
                    </div>
                    <br>
                </div>
                <div ng-show="model.user.username===review.user.userName">
                    <a ng-click="model.scrollTo('reviewFormId', review)"
                       target="_self"
                       class="btn btn-primary margin-right-20-px">
                        Edit
                    </a>
                    <a class="btn btn-danger" ng-click="model.deleteReview(review._id)">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function initialize(isbn) {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load(isbn);
    }
</script>