<nav role="navigation" class="navbar-default navbar-fixed-top navbar-inverse">
    <div class = "container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    ng-click="model.isCollapsed = !model.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">
                <i class="fa fa-laptop"></i> OneCs
            </a>
        </div>
        <div class="navbar-collapse"
             ng-class="{collapse: model.isCollapsed}"
             ng-click="model.isCollapsed = !model.isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!model.isUserLoggedIn">
                    <a href="#/login">
                        <span class="glyphicon glyphicon-log-in"></span> SignIn
                    </a>
                </li>
                <li ng-show="!model.isUserLoggedIn">
                    <a href="#/register">
                        <span class="glyphicon glyphicon-check"></span>
                        SignUp
                    </a>
                </li>
                <li ng-show="model.isUserLoggedIn">
                    <a href="#/profile" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile
                    </a>
                </li>
                <li ng-show="model.isUserLoggedIn">
                    <a ng-click="model.logout()" class="navbar-link">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Sign-Out
                    </a>
                </li>
                <li ng-show="(model.isUserLoggedIn && model.user.role==='ADMIN')">
                    <a ng-href="#/book-category/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Category
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="search-relative-pos">
    <div class="search-form">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <select id="SearchOptions" class="form-control search-field" ng-model="model.searchOptions">
                    <option value="Title">Title</option>
                    <option value="Author">Author</option>
                    <option value="ISBN">ISBN</option>
                    <option value="TitleNAuthor">Title & Author</option>
                    <option value="default" ng-selected="true">Search By</option>
                </select>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="input-group">
                    <input ng-model="model.search"
                           class="form-control search-field"
                           placeholder="Enter Search Term Here"
                           type="text"
                           name="Search"
                           required
                           autocomplete="off" autocorrect="off" autocapitalize="off"/>
                            <span class="input-group-btn">
                                <button ng-model="model.title"
                                        ng-click="model.search()"
                                        class="btn btn-danger"
                                        type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                </div>
                <div>
                    <span class="book-search-option-help" ng-show="model.searchOptions==='TitleNAuthor'">
                        <b>Title and Author seperated by <strong> Semicolon (;). E.g. Java; Joshua </strong> </b>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="item-image">
        <img src="resources/category/book/book-large.jpg" class="img-responsive" width="100%">
    </div>
</div>

<div class="container">
    <div class="row">
        <div ng-repeat="bookCategory in model.bookCategories">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 category-image-padding">
                <div class="book-cat-relative-pos">
                    <a href="#/book-category/{{bookCategory._id}}"
                       class="book-cat-edit"
                       ng-show="model.user.role=='ADMIN'">
                        <span class="glyphicon glyphicon-cog img-right-spacing"></span>
                    </a>
                    <a ng-click="model.storeBookCategory(bookCategory)">
                        <img ng-src="{{bookCategory.url}}" class="img-responsive thumbnail" width="100%">
                        <div class="carousel-caption">
                            <h3>{{bookCategory.display}}</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>