<nav role="navigation" class="navbar-default navbar-fixed-top navbar-inverse">
    <div class = "container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    ng-click="model.isCollapsed = !model.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-click="model.back()" class="navbar-brand navbar-link img-right-spacing">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
            <a class="navbar-brand" href="#/home">
                <i class="fa fa-laptop"></i> OneCs
            </a>
        </div>
        <div class="navbar-collapse"
             ng-class="{collapse: model.isCollapsed}"
             ng-click="model.isCollapsed = !model.isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!model.isUserLoggedIn">
                    <a ng-click="model.login()">
                        <span class="glyphicon glyphicon-log-in"></span> SignIn
                    </a>
                </li>
                <li ng-show="!model.isUserLoggedIn">
                    <a href="#/register">
                        <span class="glyphicon glyphicon-check"></span>
                        SignUp
                    </a>
                </li>
                <li ng-show="model.isUserLoggedIn">
                    <a href="#/profile" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile
                    </a>
                </li>
                <li ng-show="model.isUserLoggedIn">
                    <a ng-click="model.logout()" class="navbar-link">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Sign-Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="relative-pos" ng-show="model.showBookPreview">
        <a ng-click="model.showBookPreview=false"
           class="close-book-preview">
            <span class="glyphicon glyphicon-remove img-right-spacing"></span>
        </a>
        <div id="viewerCanvas" ng-show="model.showBookPreview"></div>
    </div>
    <div class="row">
        <div class="media media-padding">
            <div class="media-left media-top col-sm-5 col-lg-3">
                <a ng-click="model.displayBookPreview(model.book.volumeInfo.industryIdentifiers[1].identifier)">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/sitb/sticker/sitb-sticker-v3-small._CB341765094_.png">
                </a>
                <img class="media-object book-detail-img-padding" ng-src="{{model.book.volumeInfo.imageLinks.small}}">
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-1">
                <h2 class="media-heading">{{model.book.volumeInfo.title}}</h2>
                <h4>{{model.book.volumeInfo.subtitle}}</h4>
                <table class="table table-striped table-condensed table-responsive">
                    <tr>
                        <th>Authors</th>
                        <td>
                            <div ng-repeat="author in model.book.volumeInfo.authors">
                                <div>{{author}}</div>
                            </div>
                        </td>
                    <tr>
                        <th>Publisher</th>
                        <td>{{model.book.volumeInfo.publisher}}</td>
                    </tr>
                    <tr>
                        <th>Published Date</th>
                        <td>{{model.book.volumeInfo.publishedDate}}</td>
                    </tr>
                    <tr ng-repeat="(key, value) in model.book.volumeInfo.industryIdentifiers">
                        <th>
                            {{value.type}}
                        </th>
                        <td>
                            {{value.identifier}}
                        </td>
                    </tr>
                    <tr ng-show="model.book.volumeInfo.averageRating">
                        <th>Google Rating</th>
                        <td>{{model.book.volumeInfo.averageRating}}</td>
                    </tr>
                    <tr ng-show="model.book.saleInfo.retailPrice">
                        <th>Price</th>
                        <td>{{model.book.saleInfo.retailPrice.amount}}
                            {{model.book.saleInfo.retailPrice.currencyCode}}</td>
                    </tr>
                </table>
                <div ng-show="model.isUserLoggedIn && !model.hasUserLikedThisBook">
                    <h5 class="text-info"><b>Like this product? Let us know!</b></h5>
                    <a ng-click="model.addProdToUserLikesLst()">
                        <i title="Like" class="fa fa-thumbs-o-up fa-lg fa-2x"></i>
                    </a>
                </div>
                <div ng-if="!model.isUserLoggedIn" class="alert alert-warning">
                    <strong>Not logged in?</strong> Login to 'Like' this product or write a review about it.
                </div>
                <div ng-show="model.isUserLoggedIn && model.hasUserLikedThisBook">
                    <h5 class="text-info"><b>You have liked this product.
                        <span class="text-danger">Click below to dislike it!</span></b></h5>
                    <a ng-click="model.removeProdToUserLikesLst()">
                        <i title="Unlike" class="fa fa-thumbs-o-down fa-lg fa-2x orangecolor"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-info"> About the book </h3>
    <div class="book-desc-padding">
        <h5 class="text-justify"><div ng-bind-html="model.getSafeHtml(model.book.volumeInfo.description)"></div></h5>
    </div>

    <div ng-if="!model.isUserLoggedIn" class="alert alert-warning">
        <strong>Not logged in?</strong> Login to 'Like' this product or write a review about it.
    </div>
</div>

<script type="text/javascript">
    function initialize(isbn) {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load(isbn);
    }
</script>