<nav role="navigation" class="navbar-default navbar-fixed-top navbar-inverse">
    <div class = "container">
        <span class="navbar-header navbar-brand">
          <a class="navbar-link" href="#/home">
                <i class="fa fa-laptop"></i> OneCs
            </a>
        </span>
        <span class="navbar-right navbar-text pull-right">
                <a ng-click="model.logout()" class="navbar-link">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Sign-Out
                </a>
        </span>
    </div>
</nav>

<div class="container">
    <div class="alert alert-warning">
        Only <Strong>ADMIN </Strong> user should use this page.
        If you are not admin please return to home page
    </div>

    <h3> Edit Book Category</h3>

    <div class="form-group">
        <label for="title">Title</label>
        <input ng-model="model.bookCategory.title"
               type="text"
               class="form-control"
               id="title"
               placeholder="Java"
               disabled/>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input ng-model="model.bookCategory.author"
               type="text"
               class="form-control"
               id="author"
               placeholder="Joshua Bloch"/>

    </div>
    <div class="form-group">
        <label for="display">Display Text</label>
        <input ng-model="model.bookCategory.display"
               type="text"
               class="form-control"
               id="display"
               placeholder="JAVA"/>
    </div>
    <div class="form-group">
        <label for="url">Image Url</label>
        <input ng-model="model.bookCategory.url"
               type="text"
               class="form-control"
               id="url"
               placeholder="resources/category/book/book-category/image-name.jpg"/>
    </div>
    <button ng-click="model.updateBookCategory()"
            class="btn btn-primary btn-block"> Create Book Category
    </button>
    <a ng-click="model.deleteBookCategory()"
            class="btn btn-danger btn-block"> Delete Book Category
    </a>
</div>